<div class="dashboard-wrapper">
  <header class="dashboard-header">
    <h1>Welcome, {{ username }}</h1>
    <button (click)="logout()" class="logout-btn">Logout</button>

    <p>Here’s a quick summary of your tasks 📋</p>
  </header>

  <section class="dashboard-cards">
    <div class="card total">
      <h3>Total Tasks</h3>
      <p>{{ totalTasks }}</p>
    </div>
    <div class="card completed">
      <h3>Completed</h3>
      <p>{{ completedTasks }}</p>
    </div>
    <div class="card pending">
      <h3>Pending</h3>
      <p>{{ pendingTasks }}</p>
    </div>
  </section>
  <hr />
  <app-task-list (tasksChanged)="refreshStats()"></app-task-list>
</div>
